<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body>
    <!-- <link src="./home.component.css"></link> -->
  <div class="jumbotron">
    <h1 class="display-4">Welcome to DemoGram...!</h1>
    <p class="lead">This is a simple hero unit, a simple Application to know the views of
      people........!</p>
    <hr class="my-4">
    <p>Hope you enjoy the experience with us...!!!</p>

  </div>

</body>
</html>
